/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
	width: 50em;
	margin: 0 auto;
}

.header {
	width: 50em;
	margin: 0 auto;
}

h1 {
	width: 100%;
}

img {
	width: calc((100% - 40px));
	margin: 0 auto;
	max-width: 100%;
}

footer{
	width: 50em;
	margin: 0 auto;
}

#flourish {
	max-height: 30em;
	top: 350px;
}